body {
    background-color: #00000; 
    padding-bottom: 10px;
    padding-top: 15px;
}

#name{
	font-family: 'Pacifico', cursive;
	color: #ADD8E6;
	font-size: 45px; 
	padding: 0px;
	margin: -47px;
}

.tagline {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 24px;
	padding-bottom: 25px; 
}

#about-me{
	font-family: 'Pacifico', cursive;
	color: #ADD8E6;
	font-size: 20px;
	margin: -5px;
}


.links ul li{
	display: inline-block;
	font-size: 78px;
	padding: 1%;
	color: #000000;
  	text-decoration: none;
}

.links ul li a {
   color: #000000;
}